<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RENOVA.Message for center</title>
</head>
    <body>
        <div style="margin-left: auto; margin-right: auto; width: 80%">
            <h3 style="color: blue;">{{ title }}</h3>
            <hr>
            {% if message %}
                <h4 style="margin-bottom: 0px">Сообщение от менеджера:</h4>
                <p style="margin-top: 0px">{{ message }}</p>
            {% endif %}
            <p style="color:gray; margin-bottom: 0px">Это сообщение сформировано автоматически, отвечать на него не нужно.</p>
            <p style="color:gray; margin-top: 0px">По всем вопросам обращайтесь к сервис-менеджеру <a href='mailto:westservice@re-nova.com'>westservice@re-nova.com</a></p>
        </div>
    </body>
</html>