<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RENOVA.New acts.</title>
</head>
<body>
    <div style="margin-left: auto; margin-right: auto; width: 80%">
        <h3 style="color: blue;">Получены новые акты неремонтопригодности.</h3>
        <hr>
        <h3>
            С {{ last_date|date:"d.m.Y" }} поступили запросы на признание неремонтопригодной следующей техники:
        </h3>
        <div>
            <ul style="margin: 0px;">
                {% for act in acts %}
                    <li style="margin: 0px;">
                        <a href="https://renova-service.ru{% url 'act-check' act.pk %}">
                            {{ act.product__title }} {{ act.model_description }}
                        </a>
                        <span>
                            ( {{ act.center__title }}, {{ act.center__city }} )
                        </span>.
                    </li>                                                               
                {% endfor %}
            </ul>
        </div>
        <h4>
            <a href="https://renova-service.ru/">Войти на сайт ...</a>
        </h4>
    </div>
</body>
</html>